* {
  /* padding and border are included in the total width and height of the elements. */
  box-sizing: border-box;
}
body {
  /* background-color: rgb(233, 229, 227); */
  background-color: rgb(230, 118, 161);
  margin: 0;
}
